*{
    margin: 0;
    padding: 0;
    font-family: 'Fjalla One', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(90deg, #05fe50,#ffec04, rgb(247 3 142));
    padding: 10px;
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background-color: white;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.todo-app h2{
    color: black;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(245, 244, 247);
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    font-family: 'Secular One', sans-serif;
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 15px;
}

button{
    font-family: 'Secular One', sans-serif;
    border: none;
    outline: none;
    padding: 15px 50px;
    background-color: rgb(156, 29, 198);
    color: whitesmoke;
    font-size: 15px;
    cursor: pointer;
    border-radius: 45px;
}

ul li{
    font-family: 'Secular One', sans-serif;
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 8px;
    left: 10px;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(images/checked.png);
}

ul li span{
    position: absolute;
    right: inherit;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
}

ul li span:hover{
    background: #edeef0;
    border-radius: 50%;
}


